<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

 **DANIEL BEKELE**
 
 I am currently working as university lecturer of Statistics

*I am interested todata science because of the growing apportunities of data science and machine learning application in many fields*

### Finding the difference between two number

In [4]:
a = 4
b = 7
print(b-a)

3

1. first
2. second
3. third

- happen
- good

***
data science is love
***

___ 
this horizontal rule
___

Data science very nice job in the 2023. To learn the data science go to [COURSERA](https://www.coursera.org/home)


|age| gender | salary|
----|--------| ------|
|22 | male   | $2000 |

# blocked code

```
{
    "First Name" : " Daniel",
    "Last Name" : " Bekele",
    "Age" : 27
}
```

So final, don't ~~panic~~ of learning new things. Always say I can do!